@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  background: #332f35;
  font-family: roboto;
 
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
 
}

p{
  text-align: left;
  white-space: pre;
}

/* @group Blink */
.blink {
	-webkit-animation: blink 1.20s linear infinite;
	-moz-animation: blink 1.20s linear infinite;
	-ms-animation: blink 1.20s linear infinite;
	-o-animation: blink 1.20s linear infinite;
	 animation: blink 1.20s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0.5; }
	80% { opacity: 0.5; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0.5; }
	80% { opacity: 0.5; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0.5; }
	80% { opacity: 0.5; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0.5; }
	80% { opacity: 0.5; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0.5; }
	80% { opacity: 0.5; }
}
/* @end */



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #000000;
  margin: 3% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  width: 500px; /* Could be more or less, depending on screen size */
}

.modal-content-help {
  background-color: #000000;
  margin: 3% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  color:#bff2ff;
  border-radius: 6px;
  width: 500px; /* Could be more or less, depending on screen size */
}

.controlPanel td{
    padding: 0px;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: #9a929e;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 4px 8px;
}

input[type=radio]:checked + label {
  color: #ccc8ce;
  background: #675f6b;
}

label + input[type=radio] + label {
  border-left: solid 3px #675f6b;
}

.radio-group {
  border: solid 3px #675f6b;
  display: inline-block;
  margin: 2px;
  border-radius: 10px;
  overflow: hidden;
}
#rotateMode {
  border: solid 3px #675f6b;
  display: inline-block;
  margin: 2px;
  border-radius: 10px;
  overflow: hidden;
  float:right;
}
#closeModal {
  border: solid 3px #675f6b;
  display: inline-block;
  margin: 2px;
  border-radius: 10px;
  overflow: hidden;
  float:left;
}

.closeModal2 {
  border: solid 3px #675f6b;
  display: inline-block;
  margin: 2px;
  border-radius: 10px;
  overflow: hidden;

}

#mode_filter {
  border-radius: 4px;
  overflow: hidden;
}
#container {
  margin:0 auto;max-width:800px;text-align:center;
  padding-right: 15px;
}
.spn_key {
    display: inline-block; width: 130px;
    font-weight:normal;
    font-size:7pt;
    color:rgb(41, 45, 68);
    
}
.spn_key:hover {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  cursor:pointer;
  text-decoration: none;
  color:white;
 }
.btn_key {
  font-family: roboto;
  /* display: block; */
  height:25px;
  display: inline-block; 
  width: 4.5%;
  box-sizing: border-box;
  margin: .5px;
  padding: .7px; 
  /* width: 80%; */
  /* max-width: 200px; */
  background: #fff; /* fallback color for old browsers */
  background: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5px;
  transition: all 0.3s ease-out;
}
.semi-transparent-button:hover,
.semi-transparent-button:focus,
.semi-transparent-button:active {
  background: #fff;
  color: #000;
  transition: all 0.5s ease-in;
}
.semi-transparent:focus {
  outline: none;
}

.is-blue {
  background: #1e348e; /* fallback color for old browsers */
  background: rgba(30, 52, 142, 0.5);
}
.is-blue:hover,
.is-blue:focus,
.is-blue:active {
  background: #1e348e; /* fallback color for old browsers */
  background: rgb(30, 52, 142);
  color: #fff;
}

.with-border {
  border: 1px solid #fff;
}

